In [ ]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [ ]:
df = pd.read_csv('/content/Discriptors_IC50.csv')
df

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,IC50
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,750.00
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,100.00
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,50000.00
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,300.00
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,800.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2.57
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2.39
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.41
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.63
5823,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1.25

In [ ]:
bioactivity_class = []
for i in df.IC50:
  if float(i) >= 10000:
    bioactivity_class.append("inactive")
  elif float(i) <= 10000:
    bioactivity_class.append("active")

In [ ]:
len(bioactivity_class)

5824

In [ ]:
bioactivity_class = pd.Series(bioactivity_class, name='bioactivity_class')
bioactivity_class

0         active
1         active
2       inactive
3         active
4         active
          ...
5819      active
5820      active
5821      active
5822      active
5823      active
Name: bioactivity_class, Length: 5824, dtype: object

In [ ]:
df1 = pd.concat([df, bioactivity_class], axis=1)
df1

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,IC50,bioactivity_class
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,750.00,active
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,100.00,active
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,50000.00,inactive
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,300.00,active
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,800.00,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,2.57,active
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,2.39,active
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0.41,active
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0.63,active
5823,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1.25,active

In [ ]:
import numpy as np

def pIC50(input):
    pIC50 = []

    for i in input['IC50_norm']:
        molar = i*(10**-9) # Converts nM to M
        pIC50.append(-np.log10(molar))

    input['pIC50'] = pIC50
    x = input.drop('IC50_norm', 1)

    return x

In [ ]:
def norm_value(input):
    norm = []

    for i in input['IC50']:
        if i > 100000000:
          i = 100000000
        norm.append(i)

    input['IC50_norm'] = norm
    x = input.drop('IC50', 1)

    return x

In [ ]:
df1.IC50.describe()

count    5.824000e+03
mean     2.588482e+12
std      1.068126e+14
min      0.000000e+00
25%      1.470000e+02
50%      2.400000e+03
75%      1.700000e+04
max      5.888437e+15
Name: IC50, dtype: float64

In [ ]:
df_norm = norm_value(df1)
df_norm

<ipython-input-14-3d7d6e673ad2>:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = input.drop('IC50', 1)

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,IC50_norm
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,750.00
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,100.00
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,50000.00
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,300.00
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,800.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,2.57
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,2.39
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,0.41
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,0.63
5823,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,1.25

In [ ]:
df_norm.IC50_norm.describe()

count    5.824000e+03
mean     2.795865e+05
std      4.242714e+06
min      0.000000e+00
25%      1.470000e+02
50%      2.400000e+03
75%      1.700000e+04
max      1.000000e+08
Name: IC50_norm, dtype: float64

In [ ]:
df_norm

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,IC50_norm
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,750.00
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,100.00
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,50000.00
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,300.00
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,800.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,2.57
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,2.39
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,0.41
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,0.63
5823,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,1.25

In [ ]:
df_final = pIC50(df_norm)
df_final

<ipython-input-27-cb2d24947d8e>:8: RuntimeWarning: divide by zero encountered in log10
  pIC50.append(-np.log10(molar))
<ipython-input-27-cb2d24947d8e>:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = input.drop('IC50_norm', 1)

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,pIC50
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.124939
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,7.000000
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.301030
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.522879
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.096910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.590067
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.621602
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.387216
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.200659
5823,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.903090

In [ ]:
for i in range(len(df_final["pIC50"])):
  if df_final["pIC50"][i] == np.inf:
    print(i)

5462

In [ ]:
df_final = df_final.drop(5462)
df_final

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,pIC50
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.124939
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,7.000000
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.301030
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.522879
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.096910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.590067
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.621602
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.387216
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.200659
5823,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.903090

In [ ]:
df_final = df_final.reset_index(drop=True)

In [ ]:
for i in range(len(df_final["pIC50"])):
  if df_final["pIC50"][i] == np.inf:
    print(i)

In [ ]:
df_final

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,pIC50
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.124939
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,7.000000
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.301030
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.522879
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.096910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.590067
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.621602
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.387216
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.200659
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.903090

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
len(df_final[df_final['bioactivity_class'] == 'active']["pIC50"])

3912

In [ ]:
df_active = df_final[df_final['bioactivity_class'] == 'active'].reset_index(drop=True)
df_active

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,pIC50
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.124939
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,7.000000
2,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.522879
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.096910
4,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,5.619789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.590067
3908,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.621602
3909,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.387216
3910,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.200659
3911,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.903090

In [ ]:
df_inactive = df_final[df_final['bioactivity_class'] == 'inactive'].reset_index(drop=True)
df_inactive

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,pIC50
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.301030
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.301030
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.301030
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.301030
4,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,5.000000
1907,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.399027
1908,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,3.759700
1909,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,3.799697
1910,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,5.000000

In [ ]:
df_active["pIC50"].describe()

count    3912.000000
mean        6.605398
std         1.266612
min         5.000869
25%         5.602060
50%         6.397940
75%         7.303866
max        14.301030
Name: pIC50, dtype: float64

In [ ]:
df_inactive["pIC50"].describe()

count    1911.000000
mean        4.211157
std         0.706969
min         1.000000
25%         3.948852
50%         4.337242
75%         4.754487
max         5.000000
Name: pIC50, dtype: float64

In [ ]:
df_final

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,pIC50
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.124939
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,7.000000
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,inactive,4.301030
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.522879
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,6.096910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.590067
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.621602
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.387216
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,9.200659
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,active,8.903090

In [ ]:
Y = df_final.bioactivity_class
Y

0         active
1         active
2       inactive
3         active
4         active
          ...
5818      active
5819      active
5820      active
5821      active
5822      active
Name: bioactivity_class, Length: 5823, dtype: object

In [ ]:
Y = [1 if c == "active" else 0 for c in Y]
Y

[1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 ...]

In [ ]:
Y = pd.core.series.Series(Y)

In [ ]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5818    1
5819    1
5820    1
5821    1
5822    1
Length: 5823, dtype: int64

In [ ]:
df_finall = pd.concat([df_final, Y], axis=1)

In [ ]:
df_finall

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,bioactivity_class,pIC50,0
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,6.124939,1
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,7.000000,1
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,inactive,4.301030,0
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,6.522879,1
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,6.096910,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,8.590067,1
5819,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,8.621602,1
5820,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,9.387216,1
5821,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,9.200659,1
5822,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,active,8.903090,1

In [ ]:
df_finall.to_csv("Discriptors_class_class0and1_pIC50.csv", index=False)